### Q1. Create a list of five integers and print it.

In [ ]:
numbers = [10, 20, 30, 40, 50]
print(numbers)

[10, 20, 30, 40, 50]

### Q2. Write a program to find the length of a list.

In [ ]:
my_list = [5, 10, 15, 20, 25]
length = len(my_list)
print("Length of the list is:", length)

Length of the list is: 5

### Q3. Create a tuple with three elements and print the second item.

In [ ]:
my_tuple = (100, 200, 300)
print("Second item is:", my_tuple[1])

Second item is: 200

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [ ]:
my_dict = {"name": "Ali", "age": 25, "city": "Cairo"}
print("Keys:", my_dict.keys())

Keys: dict_keys(['name', 'age', 'city'])

### Q5. Write a program to convert a list into a set.

In [ ]:
my_list = [1, 2, 3, 2, 1]
my_set = set(my_list)
print("Set:", my_set)

Set: {1, 2, 3}

### Q6. Create a string and print its first and last characters.

In [ ]:
my_string = "Python"
print("First character:", my_string[0])
print("Last character:", my_string[-1])

First character: P
Last character: n

### Q7. Take input from the user and print it.

In [1]:
user_input = input("Enter something: ")
print("You entered:", user_input)

You entered:

### Q8. Write a program to add two numbers entered by the user.

In [2]:
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")


sum = int(num1) + int(num2)

print("The sum is:", sum)

The sum is: 11

### Q9. Use `type()` function to check the data type of a variable.

In [3]:
x = 42
print("The type of x is:", type(x))

The type of x is: <class 'int'>

### Q10. Create a boolean variable and print it.

In [4]:
is_sunny = True
print("Boolean value is:", is_sunny)

Boolean value is: True

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [5]:
num = int(input("Enter a number: "))

if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.

### Q12. Write a program to check if a number is even or odd.

In [6]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

The number is odd.

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [7]:
for i in range(3):
    print("Abdelrahman")

Abdelrahman
Abdelrahman
Abdelrahman

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [8]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [9]:
my_list = [10, 20, 30, 40, 50]

for item in my_list:
    print(item)

10
20
30
40
50

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [10]:
total = 0

for i in range(1, 101):
    total += i

print("Sum from 1 to 100 is:", total)

Sum from 1 to 100 is: 5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [11]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [12]:
text = "Python"

for char in text:
    print(char)

P
y
t
h
o
n

### Q19. Use a `for` loop to print all values in a dictionary.

In [13]:
my_dict = {"name": "Ali", "age": 25, "city": "Cairo"}

for value in my_dict.values():
    print(value)

Ali
25
Cairo

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [14]:
num = int(input("Enter a number: "))
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print("Factorial of", num, "is:", factorial)

Factorial of 5 is: 120

### Q21. Create a list of your 5 favorite fruits.

In [15]:
fruits = ["Mango", "Apple", "Banana", "Strawberry", "Pineapple"]
print(fruits)

['Mango', 'Apple', 'Banana', 'Strawberry', 'Pineapple']

### Q22. Add a new fruit to your list of favorite fruits.

In [16]:
fruits = ["Mango", "Apple", "Banana", "Strawberry", "Pineapple"]
fruits.append("Orange")
print(fruits)

['Mango', 'Apple', 'Banana', 'Strawberry', 'Pineapple', 'Orange']

### Q23. Remove the second item from a list.

In [17]:
fruits = ["Mango", "Apple", "Banana", "Strawberry", "Pineapple"]
fruits.pop(1)  
print(fruits)

['Mango', 'Banana', 'Strawberry', 'Pineapple']

### Q24. Sort a list of numbers in descending order.

In [18]:
numbers = [5, 2, 9, 1, 7]
numbers.sort(reverse=True)
print(numbers)

[9, 7, 5, 2, 1]

### Q25. Find the maximum and minimum values in a list.

In [19]:
numbers = [10, 25, 3, 47, 8]

maximum = max(numbers)
minimum = min(numbers)

print("Maximum value:", maximum)
print("Minimum value:", minimum)

Maximum value: 47
Minimum value: 3

### Q26. Count how many times a value appears in a list.

In [20]:
numbers = [1, 2, 3, 2, 4, 2, 5]
count_2 = numbers.count(2)
print("The number 2 appears", count_2, "times.")

The number 2 appears 3 times.

### Q27. Check if a specific value exists in a list.

In [21]:
numbers = [10, 20, 30, 40, 50]

if 30 in numbers:
    print("30 is in the list.")
else:
    print("30 is not in the list.")

30 is in the list.

### Q28. Reverse a list without using reverse() function.

In [22]:
numbers = [1, 2, 3, 4, 5]
reversed_list = numbers[::-1]
print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

### Q29. Make a copy of a list and modify the copy only.

In [23]:
original_list = [10, 20, 30, 40]
copied_list = original_list.copy()

copied_list.append(50)

print("Original list:", original_list)
print("Copied list:", copied_list)

Original list: [10, 20, 30, 40]
Copied list: [10, 20, 30, 40, 50]

### Q30. Use slicing to get the first 3 items of a list.

In [24]:
numbers = [10, 20, 30, 40, 50]
first_three = numbers[:3]
print("First 3 items:", first_three)

First 3 items: [10, 20, 30]

### Q31. Create a tuple with 4 elements and print its length.

In [25]:
my_tuple = ("red", "green", "blue", "yellow")
print("Length of the tuple:", len(my_tuple))

Length of the tuple: 4

### Q32. Access the last element of a tuple.

In [26]:
my_tuple = (10, 20, 30, 40)
print("Last element:", my_tuple[-1])

Last element: 40

### Q33. Convert a tuple into a list.

In [27]:
my_tuple = (1, 2, 3, 4)
my_list = list(my_tuple)
print("List:", my_list)

List: [1, 2, 3, 4]

### Q34. Convert a list into a tuple.

In [28]:
my_list = [5, 10, 15, 20]
my_tuple = tuple(my_list)
print("Tuple:", my_tuple)

Tuple: (5, 10, 15, 20)

### Q35. Check if a value exists in a tuple.

In [29]:
my_tuple = (10, 20, 30, 40)

if 30 in my_tuple:
    print("30 exists in the tuple.")
else:
    print("30 does not exist in the tuple.")

30 exists in the tuple.

### Q36. Concatenate two tuples.

In [30]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

result = tuple1 + tuple2
print("Concatenated tuple:", result)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

### Q37. Repeat a tuple 3 times.

In [31]:
my_tuple = (7, 8)
repeated_tuple = my_tuple * 3
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (7, 8, 7, 8, 7, 8)

### Q38. Find the index of an element in a tuple.

In [32]:
my_tuple = (10, 20, 30, 40)
index = my_tuple.index(30)
print("Index of 30 is:", index)

Index of 30 is: 2

### Q39. Use tuple unpacking to assign values to variables.

In [33]:
my_tuple = ("Alice", 25, "Cairo")

name, age, city = my_tuple

print("Name:", name)
print("Age:", age)
print("City:", city)

Name: Alice
Age: 25
City: Cairo

### Q40. Create a nested list and access an inner element.

In [34]:
nested_list = [[1, 2], [3, 4], [5, 6]]


print("Inner element:", nested_list[1][1])

Inner element: 4

### Q41. Create a set of 5 unique colors.

In [35]:
colors = {"red", "blue", "green", "yellow", "purple"}
print(colors)

{'green', 'yellow', 'purple', 'blue', 'red'}

### Q42. Add a new color to the set.

In [36]:
colors = {"red", "blue", "green", "yellow", "purple"}
colors.add("orange")
print(colors)

{'green', 'yellow', 'purple', 'blue', 'red', 'orange'}

### Q43. Remove an item from the set using `remove()`.

In [37]:
colors = {"red", "blue", "green", "yellow", "purple"}
colors.remove("blue")
print(colors)

{'green', 'yellow', 'purple', 'red'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [38]:
colors = {"red", "blue", "green", "yellow", "purple"}
colors.discard("pink")  # 'pink' is not in the set, but no error will occur
print(colors)

{'green', 'yellow', 'purple', 'blue', 'red'}

### Q45. Create a set from a list with duplicate values.

In [39]:
my_list = [1, 2, 2, 3, 4, 4, 5]
my_set = set(my_list)
print("Set with unique values:", my_set)

Set with unique values: {1, 2, 3, 4, 5}

### Q46. Find the union of two sets.

In [40]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

### Q47. Find the intersection of two sets.

In [41]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

intersection = set1.intersection(set2)
print("Intersection of sets:", intersection)

Intersection of sets: {3, 4}

### Q48. Find the difference between two sets.

In [42]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

difference = set1.difference(set2)
print("Difference (set1 - set2):", difference)

Difference (set1 - set2): {1, 2}

### Q49. Check if a set is a subset of another set.

In [43]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}

is_subset = set1.issubset(set2)
print("Is set1 a subset of set2?", is_subset)

Is set1 a subset of set2? True

### Q50. Check if two sets are disjoint.

In [44]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

are_disjoint = set1.isdisjoint(set2)
print("Are the sets disjoint?", are_disjoint)

Are the sets disjoint? True

### Q51. Create a dictionary with 3 items: name, age, and city.

In [45]:
person = {
    "name": "Ali",
    "age": 25,
    "city": "Cairo"
}

print(person)

{'name': 'Ali', 'age': 25, 'city': 'Cairo'}

### Q52. Add a new key-value pair to the dictionary.

In [46]:
person = {
    "name": "Ali",
    "age": 25,
    "city": "Cairo"
}

person["job"] = "Engineer"
print(person)

{'name': 'Ali', 'age': 25, 'city': 'Cairo', 'job': 'Engineer'}

### Q53. Update the value of an existing key in the dictionary.

In [47]:
person = {
    "name": "Ali",
    "age": 25,
    "city": "Cairo"
}

person["age"] = 26
print(person)

{'name': 'Ali', 'age': 26, 'city': 'Cairo'}

### Q54. Remove a key from the dictionary using `pop()`.

In [48]:
person = {
    "name": "Ali",
    "age": 25,
    "city": "Cairo"
}

person.pop("city")
print(person)

{'name': 'Ali', 'age': 25}

### Q55. Check if a key exists in the dictionary.

In [49]:
person = {
    "name": "Ali",
    "age": 25,
    "city": "Cairo"
}

if "age" in person:
    print("Key 'age' exists in the dictionary.")
else:
    print("Key 'age' does not exist.")

Key 'age' exists in the dictionary.

### Q56. Loop through a dictionary and print all keys and values.

In [50]:
person = {
    "name": "Ali",
    "age": 25,
    "city": "Cairo"
}

for key, value in person.items():
    print(key + ":", value)

name: Ali
age: 25
city: Cairo

### Q57. Get all keys from a dictionary using `keys()`.

In [51]:
person = {
    "name": "Ali",
    "age": 25,
    "city": "Cairo"
}

keys = person.keys()
print("Keys:", keys)

Keys: dict_keys(['name', 'age', 'city'])

### Q58. Get all values from a dictionary using `values()`.

In [52]:
person = {
    "name": "Ali",
    "age": 25,
    "city": "Cairo"
}

values = person.values()
print("Values:", values)

Values: dict_values(['Ali', 25, 'Cairo'])

### Q59. Get all key-value pairs using `items()`.

In [53]:
person = {
    "name": "Ali",
    "age": 25,
    "city": "Cairo"
}

pairs = person.items()
print("Key-value pairs:", pairs)

Key-value pairs: dict_items([('name', 'Ali'), ('age', 25), ('city', 'Cairo')])

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [54]:
keys = ["name", "age", "city"]
values = ["Ali", 25, "Cairo"]

my_dict = dict(zip(keys, values))
print("Dictionary:", my_dict)

Dictionary: {'name': 'Ali', 'age': 25, 'city': 'Cairo'}